@use "../../Shared/design"

.register-form
  width: 100%
  max-width: 420px
  display: flex
  flex-direction: column
  margin: 0 auto
  
.register-inputs
  width: 100%
  
::deep .register-text-box
  @include design.input-box
  
.register-submit-button-container
  width: 100%
  display: flex
  justify-content: center

.register-submit-button
  @include design.submit-button
  
.error
  @include design.error-text
  
.register-validation-summary-container
  width: 100%
  
  ::deep ul
    padding: 0
    margin: 0
    @include design.error-text