@use "../../Shared/design"

.report-item-container
  margin-bottom: 2rem

.report-data
  margin-bottom: 2rem
  margin-top: 1rem
  display: flex
  flex-direction: column
  gap: 1rem
  
.report-actions
  margin-bottom: 1rem
  
  button
    @include design.comment-button
    margin-right: 1rem