@page "/"

<PageTitle>Threddit - A social platform.</PageTitle>

<div class="home-container">
    <h1>Welcome to <span class="logo-t">T</span>hreddit!</h1>

    <p>Start by creating an account or logging in!</p>
</div>